body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: black;

}
.chessboard{
    width: 320px;
    height: 335px;
    border: 10px solid #333;
}
.white{
    background-color: white;
    width: 40px;
    height: 40px;
}
.green{
    background-color: green;
    width: 40px;
    height: 40px;
}
table{
    border-spacing: 0px;
}
.green:hover{
    background-color: #c1f3c5;
    transition: 1s;
}
.white:hover{
    background-color: #d0d0d0e1;
    transition: 1s;
}